body{
    margin: 0;
    font-family: 'Playfair Display', serif;
}

*:focus{
    outline: none;
}

.container{
    margin: 0px 300px;
    }

.header{
    background-image:url(../img/main.jpg) ;
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line{
    display: flex;
    padding-top: 2%;
    align-items: center;
    justify-content:space-around;
}

input{
    border-radius: 10px;
    border: #eee;
    height: 40px;
    width: 500px;
    box-shadow: inset 1px 6px 8px rgba(0,0,0,0.3);
    transition: padding .25s;
}

::placeholder{
    font-family: 'Playfair Display', serif;
    font-size: 17px;
}

input:focus{
background-color: #eee;
padding-right: 200px;
/* border: 2px solid #684242; */
}


.nav-items{
    text-decoration: none;
    color: #eee;
    margin-right: 50px;
    font-size: 19px;
    transition: .4s;
}

.nav-items:hover{
    color: aqua;
}

.header-down{
padding-top: 200px;
}

.header-title{
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
}

.header-subtitle{
    color: #eee;
    font-size: 70px;
}

.header-suptitle{
    color: #eee;
    font-size: 20px;
    border-left: 10px #eee;
    margin-bottom: 40px;
}

.header-suptitle:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 40px;
    background-color: #fff;
    top: 442px;
    left: 255px;
}

.header-suptitle:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 40px;
    background-color: #fff;
    top: 442px;
    left: 443px;
}

.header-button{
    padding: 15px 15px;
    background-color: #48d14e;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    transition: .2s;
    box-shadow:
    inset 5px 6px 3px rgba(0,0,0,0.5),
    3px 3px 4px rgba(0,0,0,0.5);
}

.header-button:hover{
background-color:#2a7c2f;
padding: 20px 20px;
}

.card-title{
    font-size: 50px;
}

.cards{
    padding: 20px; 
}

.card-subtitle {
    font-size: 25px;
    padding: 20px;
    font-weight: 700;
    border-bottom: 2px solid #777;

}

.card a:hover{
    font-size: 35px;
    color:#5384c5;
}

.card a{ 
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.footer{
background-color:black;
height:300px;
}

.footer a{
    color: #eee;
    text-decoration: none;
}

.footer-line{
padding-top: 50px;
justify-content: space-around;
display: flex;
}

.footer p{
color: #eee;
margin-top: 60px;
}

.footer-text{
    display: flex;
    justify-content: space-around;
}

.vk{
    height: 40px;
    width: 40px;
    padding-left: 920px;
}

.teleg{
    height: 35px;
    width: 35px;
    margin-left: 16px;
}

.t{
    display: flex;
}
